.divClass {
    margin: auto;
    margin-top: 100px;
    width: 500px;
}

.formClass {
    border: 1px solid rgb(192, 180, 180);
    border-radius: 10px;
    padding: 20px;
}

.button-class {
    width: 100px;
    background-color: white;
    border-radius: 10px;
    border-width: 1px;
    border-color: lightgray;
}