.back-bar-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

.back-bar-wrapper {
    background-color: white;
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.back-bar {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    gap: calc(42% - (65px));
    width: 100%;
    align-items: center;
    background-color: #f5f7fa;
}