.postsContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 20px;
  margin-top: 68px;
  width: 100%;
}

.picturesContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.picture {
  position: relative;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  object-fit: cover;
}

.inlineContent {
  width: 90px;
  margin-top: 10px;
  display: flex;
  gap: 30px;
}

.picAndData {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.rounded-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logo-image:hover {
  width: 32px;
}

.post {
  display: block;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #f5f7fa;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.background-text-color {
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
  border-radius: 5px;
}

.delete-logo:hover {
  width: 45px;
  height: 45px;
}

.delete-logo {
  background-color: rgb(221, 202, 202);
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
}

.logo-image {
  width: 30px;
  height: 30px;
}

.logo-eye:hover {
  width: 22px;
  height: 22px;
}

.logo-eye {
  width: 20px;
  height: 15px;
  margin-left: 15px;
}

.dataplusx {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alter-class {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.alt-word:hover {
  width: 45px;
  height: 45px;
}

.alt-word {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d7efed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
