.users-container {
    display: block;
    margin-top: 80px;
    padding-left: 25px;;
    justify-content: center;
    padding-bottom: 10px;
}

.each-user {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    gap: 5px;
}

.each-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.u-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-text {
    margin-right: 25px; 
}

.u-word {
    font-weight: 400;
}
